body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}
/*header style*/
header{
    background-color: rgb(245, 245, 245);
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    margin: 0;
    padding: 5px 10px;
    font-weight: bold;
    color: blueviolet;
    font-size: 4em;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
}

.button_menu{
    background-color: rgba(128, 109, 7, 0.26);
    border-radius: 12px;
    padding: 5px 12px;
    text-decoration: none;
    color: black;
}
.button_menu:hover{
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.59);   
    color: blueviolet; 
}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}




.formulario .container {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.formulario {
    text-align: center;
    margin-bottom: 20px;
}
#contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container {
    display: inline-block;
    text-align: left;
}

.checkbox-container {
    text-align: center;
}

.checkbox-container label {
    display: inline-block;
    text-align: center;
}

.checkbox-container input[type="checkbox"] {
    vertical-align: middle;
}

.error {
    display: block;
    color: blueviolet;
    text-align: center;
    margin-top: 5px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    display: inline-block;
}

label{
    display: block;
    margin-bottom: 5px;
}

input, select, textarea{
    
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.cliente{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}



/*footer styles */
footer {
    display: flex;
    background-color:  rgb(245, 245, 245);
    width: 100%;
    height: 7%;
    bottom: 0;
    left: 0;
}
.copyRight{
    width: 50%;
    text-align: center;
    
}
.sociales{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.social{
    width: 35px;
    height: 35px;
}

.social:hover{
    width: 45px;
    height: 45px;
    box-shadow:0px 0px 30px 3px rgba(0,0,0,0.59);
    
}