body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}
/*header style*/
header {
  background-color: rgb(245, 245, 245);
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 0;
  padding: 5px 10px;
  font-weight: bold;
  color: blueviolet;
  font-size: 4em;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
}

.button_menu {
  background-color: blueviolet;
  border-radius: 12px;
  padding: 5px 12px;
  text-decoration: none;
  color: white;
}
.button_menu:hover {
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.59);
  color: white;
}

button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: blueviolet;
}

.title1 {
  text-align: center;
  font-size: 30px;
  color: black;
  margin-top: 10px;
}

.title2 {
  text-align: center;
  font-size: 30px;
  color: black;
  margin-top: 10px;
}

#locales .container {
  max-width: 1400px;
  justify-content: center;
  margin-bottom: 20px;
}

.container p {
  text-align: center;
}

.container h4 {
  text-align: center;
}

.container ul {
  text-align: center;
  list-style-type: none;
}

#mapa .container {
  justify-content: center;
  max-width: 1400px;
  display: flex;

  margin: auto;
}

/*footer styles */
footer {
  display: flex;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 7%;
  bottom: 0;
  margin-top: 20px;
  left: 0;
}
.copyRight {
  width: 50%;
  text-align: center;
}
.sociales {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.social {
  width: 35px;
  height: 35px;
}
.social:hover {
  width: 45px;
  height: 45px;
  box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.59);
}
