body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}
/*header style*/
header {
  background-color: rgb(245, 245, 245);
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*menu*/

header {
  background-color: blueviolet;
  color: white;
  text-align: center;
}

.button_menu {
  margin: 0 10px;
  padding: 5px 10px; 
  text-decoration: none;
  color: white;
  transition: color 0.3s, margin 0.3s, padding 0.3s;
}

.button_menu:hover {
  color: white;
  margin: 0 15px; 
  padding: 8px 12px;
}

a {
  font-size: 1.2rem;
}

/* estilos log in */

.login-box {
  background-color: blueviolet;
  color: #fff;
  padding: 50px;
  border-radius: 10px;
  width: 500px;
  margin: 40px auto;
  text-align: center;
}

/* Estilos para los campos de entrada y el botón */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="button"] {
  background-color: rgb(75, 33, 117);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/*fotter*/

footer {
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.copyRight {
  font-size: 14px;
}

.sociales {
  margin-top: 10px;
}

.social {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
