<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/ingresar_producto.css" />
    <link rel="stylesheet" href="../css/tabla_productos.css" />
    <title>Registrar</title>
  </head>

  <body>
    <header>
      <nav class="main-nav">
        <h2>Administrador</h2>
        <a class="link-item" href="tabla_productos.html">Productos</a>
        <a class="link-item" href="ingresar_producto.html">Nuevo</a>
        <a class="link-item" href="../index.html">Volver a Inicio</a>
      </nav>
      </nav>
    </header>

    <main>
      <section>
        <div class="container-form">
          <form action="">
            <div class="entrada">
              <label for="nombre">Nombre:</label>
              <input type="text" name="nombre" id="nombre" />
            </div>

            <div class="entrada">
              <label for="precio">Precio:</label>
              <input type="number" name="precio" id="precio" />
            </div>

            <div class="entrada">
              <label for="stock">Stock:</label>
              <input type="number" name="stock" id="stock" />
            </div>

            <div class="entrada">
                <label for="tipo">Tipo:</label>
                <input type="text" name="tipo" id="tipo" />
            </div>

            <div class="entrada">
              <label for="imagen">ubicación Imagen:</label>
              <input type="text" name="imagen" id="imagen" />
            </div>

            <div class="entrada">
              <button class="modificar" type="button" onclick="guardar()">
                Guardar
              </button>
            </div>
          </form>
        </div>
      </section>
    </main>

     <footer>
      <div class="copyRight">
        <p>&copy; GuitarraShop Arg 2024</p>
      </div>
      <div class="sociales">
        <a href=""
          ><img src="/img/instagram.png" alt="Instagarm" class="social"
        /></a>
        <a href=""
          ><img src="/img/whatsapp.png" alt="whatsapp" class="social"
        /></a>
        <a href=""
          ><img src="/img/facebook.png" alt="facebook" class="social"
        /></a>
      </div>
    </footer>

    <script src="../js/ingresar_producto.js"></script>
  </body>
</html>
