<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/instrumentos.css">
    <link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon">


    <title>Instrumentos</title>
</head>
<body>

    <header>
        
            <p class="logo">GuitarraShop</p>
            <nav>
                <a href="../index.html" class="button_menu">Inicio</a>
                <a href="quienes_somos.html" class="button_menu">Quienes Somos</a>
                <a href="instrumentos.html" class="button_menu">Guitarras</a>
                <a href="Contacto.html" class="button_menu">Contacto</a>
                <a href="locales.html" class="button_menu">Nuestros Locales</a>
            </nav>
        
    </header>
    

    <main>
       <section id="nuestros-modelos">
        <h2 class="title">Nuestros modelos de Guitarras</h2>
            <div class="container">
                <div class="carta">
                    <img src="../img/redonda.jpg" alt="">
                    <h4>Redondas</h4>
                    <p>Las guitarras redondas son una opción popular para músicos de todos los niveles, ya que son versátiles y tienen un sonido cálido.</p>
                    <button>+info</button>
                </div>
                <div class="carta">
                    <img src="../img/corte.jpg" alt="">
                    <h4>Con Corte</h4>
                    <p>Las guitarras con corte, tienen una hendidura en la parte superior del cuerpo del instrumento que permite un acceso más fácil a los trastes superiores.</p>
                    <button>+info</button>
                </div>
                <div class="carta">
                    <img src="../img/electro.jpg" alt="">
                    <h4>Electro Acusticas</h4>
                    <p>Las guitarras electroacústicas son instrumentos musicales armónicos que tienen pastillas y un micrófono, que permiten amplificar el sonido a través de un amplificador o un sistema de sonido.</p>
                    <button>+info</button>
                </div>
            </div>
        </section>
    </main>


    
    <footer>
        <div class="copyRight">
            <p>&copy; GuitarraShop Arg 2024</p>
        </div>
        <div class="sociales">
            <img src="/img/instagram.png" alt="Instagarm" class="social">
            <img src="/img/whatsapp.png" alt="whatsapp" class="social">
            <img src="/img/facebook.png" alt="facebook" class="social">
        </div>
    </footer>

</body>
</html>