<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/instrumentos.css" />
    <link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon" />

    <title>Instrumentos</title>
  </head>
  <body>
    <header>
      <p class="logo">GuitarraShop</p>
      <nav>
        <a href="../index.html" class="button_menu">Inicio</a>
        <a href="quienes_somos.html" class="button_menu">Quienes Somos</a>
        <a href="instrumentos.html" class="button_menu">Guitarras</a>
        <a href="Contacto.html" class="button_menu">Contacto</a>
        <a href="locales.html" class="button_menu">Nuestros Locales</a>
        <a href="login.html" class="button_menu">Log in</a>
      </nav>
    </header>

    <main>
      <section id="nuestros-modelos">
        <h2 class="title">Nuestros modelos de Guitarras</h2>
        <div class="container">
          <div class="carta">
            <img src="../img/redonda.jpg" alt="" />
            <h4>{{producto.nombre}}</h4>
            <p>
              Las guitarras redondas son una opción popular para músicos de
              todos los niveles, ya que son versátiles y tienen un sonido
              cálido.
            </p>
            <p>$ {{producto.precio}}</p>
            <button>+info</button>
          </div>
          
        </div>
      </section>
    </main>

    <footer>
      <div class="copyRight">
        <p>&copy; GuitarraShop Arg 2024</p>
      </div>
      <div class="sociales">
        <a href=""
          ><img src="/img/instagram.png" alt="Instagarm" class="social"
        /></a>
        <a href=""
          ><img src="/img/whatsapp.png" alt="whatsapp" class="social"
        /></a>
        <a href=""
          ><img src="/img/facebook.png" alt="facebook" class="social"
        /></a>
      </div>
    </footer>
  </body>
</html>
