<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/instrumentos.css">
    <title>Instrumentos</title>
</head>
<body>

    <header>
        <div class="container">
            <p class="logo">GuitarraShop</p>
            <nav>
                <a href="../index.html">Inicio</a>
                <a href="quienes_somos.html">Quienes Somos</a>
                <a href="instrumentos.html">Guitarras</a>
                <a href="Contacto.html">Contacto</a>
                <a href="locales.html">Nuestros Locales</a>
             </nav>
        </div>
    </header>
    

    <main>
       <section id="nuestros-modelos">
        <h2 class="title">Nuestros modelos de Guitarras</h2>
            <div class="container">
                <div class="carta">
                    <img src="../img/redonda.jpg">
                    <h4>Redondas</h4>
                    <p>Las guitarras redondas son una opción popular para músicos de todos los niveles, ya que son versátiles y tienen un sonido cálido.</p>
                    <button>+info</button>
                </div>
                <div class="carta">
                    <img src="..//img/corte.jpg">
                    <h4>Con Corte</h4>
                    <p>Las guitarras con corte, tienen una hendidura en la parte superior del cuerpo del instrumento que permite un acceso más fácil a los trastes superiores.</p>
                    <button>+info</button>
                </div>
                <div class="carta">
                    <img src="../img/electro.jpg">
                    <h4>Electro Acusticas</h4>
                    <p>Las guitarras electroacústicas son instrumentos musicales armónicos que tienen pastillas y un micrófono, que permiten amplificar el sonido a través de un amplificador o un sistema de sonido.</p>
                    <button>+info</button>
                </div>
            </div>
        </section>
    </main>


    
    <footer>
        <div class="container">
            <p>&copy; GuitarraShop Arg 2024
            </p>
        </div>
    </footer>

</body>
</html>