<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/locales.css">
    <link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon">


    <title>Nuestros Locales</title>
</head>
<body>


   
    <header>
        
            <p class="logo">GuitarraShop</p>
            <nav>
                <a href="../index.html" class="button_menu">Inicio</a>
                <a href="quienes_somos.html" class="button_menu">Quienes Somos</a>
                <a href="instrumentos.html" class="button_menu">Guitarras</a>
                <a href="Contacto.html" class="button_menu">Contacto</a>
                <a href="locales.html" class="button_menu">Nuestros Locales</a>
            </nav>
        
    </header>
    
    
    <main>
        <!--La ubicacion de los locales es ficticia. Solamente para fines academicos-->
        <section id="locales">
            <div class="container">
                <h2 class="title1">Para comodidad de los clientes contamos con varios locales</h2>
                <h4>CABA</h4>
                <ul>
                <li>Rivadavia 875, Cdad. Autónoma de Buenos Aires</li>
                </ul>

                <H4>Interior del Pais</H4>
            <ul>
                <li><strong>Córdoba</strong>: Av. 25 de Mayo 157, Cdad. de Córdoba</li>
                <li><strong>Formosa</strong>: San Martín 473, Cdad. de Formosa</li>
                <li><strong>Santa Cruz</strong>: Av. Doc. Nestor Kirchner, Río Gallegos</li>
            </ul>
        </div>
        </section>

        <section id="mapa">
            <h2 class="title2">Nuestro local Central se encuentra en:</h2>
            <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7661.801175830449!2d-58.38088814638231!3d-34.60374750099142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1715896393138!5m2!1ses-419!2sar" width="500" height="450" style="border:0;"></iframe>
            </div>
        </section>
    </main>
    
    
    <footer>
        <div class="copyRight">
            <p>&copy; GuitarraShop Arg 2024</p>
        </div>
        <div class="sociales">
            <a href=""><img src="/img/instagram.png" alt="Instagarm" class="social"></a>
            <a href=""><img src="/img/whatsapp.png" alt="whatsapp" class="social"></a>
            <a href=""><img src="/img/facebook.png" alt="facebook" class="social"></a>
        </div>
    </footer>
</body>
</html>