<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/quienes.css" />
    <link rel="shortcut icon" href="../img/icono.ico" type="image/x-icon" />

    <title>Quienes Somos</title>
  </head>
  <body>
    <header>
      <p class="logo">GuitarraShop</p>
      <nav>
        <a href="../index.html" class="button_menu">Inicio</a>
        <a href="quienes_somos.html" class="button_menu">Quienes Somos</a>
        <a href="instrumentos.html" class="button_menu">Guitarras</a>
        <a href="Contacto.html" class="button_menu">Contacto</a>
        <a href="locales.html" class="button_menu">Nuestros Locales</a>
        <a href="templates/login.html" class="button_menu">Log in</a>
      </nav>
    </header>

    <main>
      <div>
        <h3>Quienes Somos</h3>
        <p>
          En GuitarraShop encontrarás una amplia gama de guitarras, desde
          modelos clásicos hasta las últimas novedades en el mercado. Cada
          guitarra ha sido seleccionada meticulosamente por nuestros expertos
          para garantizar la más alta calidad y el mejor sonido posible. Ya sea
          que busques una guitarra acústica para esas sesiones íntimas o una
          eléctrica para tu próxima gran actuación, tenemos algo para cada
          músico.
        </p>
      </div>
      <div>
        <h3>Asesoramiento experto</h3>
        <p>
          Nuestro equipo está compuesto por músicos apasionados con años de
          experiencia. Están siempre dispuestos a compartir su conocimiento y
          ayudarte a encontrar la guitarra perfecta para tus necesidades. Si
          eres principiante, te guiarán en cada paso del camino, y si eres un
          guitarrista experimentado, podrán discutir los detalles técnicos y las
          especificaciones que más te interesen.
        </p>
      </div>
      <div>
        <h3>Taller y personalización</h3>
        <p>
          Entendemos que cada músico tiene su estilo y preferencias únicas. Por
          eso, ofrecemos servicios de personalización y ajustes en nuestro
          taller interno. Ya sea que necesites un ajuste fino, una reparación o
          quieras personalizar tu guitarra para darle un toque personal,
          nuestros técnicos están listos para ayudarte a llevar tu instrumento
          al siguiente nivel.
        </p>
        <p>
          GuitarraShop es una tienda especializada en ofrecer una amplia gama de
          guitarras de alta calidad, diseñadas para satisfacer las necesidades y
          expectativas de músicos de todos los niveles, desde principiantes
          hasta virtuosos.
        </p>
      </div>
    </main>

    <footer>
      <div class="copyRight">
        <p>&copy; GuitarraShop Arg 2024</p>
      </div>
      <div class="sociales">
        <a href=""
          ><img src="/img/instagram.png" alt="Instagarm" class="social"
        /></a>
        <a href=""
          ><img src="/img/whatsapp.png" alt="whatsapp" class="social"
        /></a>
        <a href=""
          ><img src="/img/facebook.png" alt="facebook" class="social"
        /></a>
      </div>
    </footer>
  </body>
</html>
