<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/quienes.css">

    <title>Quienes Somos</title>
</head>
<body>

<header>
    <div class="container">
        <p class="logo">GuitarraShop</p>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="quienes_somos.html">Quienes Somos</a>
            <a href="instrumentos.html">Guitarras</a>
            <a href="Contacto.html">Contacto</a>
            <a href="locales.html">Nuestros Locales</a>
         </nav>
    </div>   
</header>
    
<main>
    <section>
        <div class="container">
            <p>
                <h3>Quienes Somos</h3>
                GuitarraShop es una tienda especializada en ofrecer una amplia gama de guitarras de alta calidad, diseñadas para satisfacer las necesidades y expectativas de músicos de todos los niveles, desde principiantes hasta virtuosos.</p>

            <p>
                <h3> Nuestra Experiencia</h3>
                Con varios años de experiencia en el mercado, hemos construido una reputación sólida como el destino preferido para los amantes de la música y los guitarristas apasionados. Entendemos que cada músico es único, por lo que nos esforzamos por brindar un servicio altamente personalizado</p>

        </div>
    </section>
</main>


<footer>
    <div class="container">
        <p>&copy; GuitarraShop Arg 2024
        </p>
    </div>
</footer>

</body>
</html>